openapi: 3.0.0

info:

  title: 'APIs.io Engine API'
  description: 'This is the API that regularly pulls the APIs.json, OpenAPI, and other properties.'
  version: V1

  contact:
    name: Kin Lane
    email: info@apievangelist.com

servers:

  - url: https://engine-api.apis.io

tags:

  - name: Engine
    description: The engine for search.          
    
paths:
                    
                
  '/engine/apisjson':

    put:
      operationId: processAPIsJSON
      summary: 'Process APIs.json'
      description: 'Process an APIs.json'
      tags:
        - Engine

      responses:
        "200":
          description: Success
          headers:
            Access-Control-Allow-Origin:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Results"                                   

components:

  requestBodies:

    APIsJSON:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIsJSON"
      required: true

  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
  
  schemas:

    APIsJSON:
      type: object
      required:
      - name
      - description
      - url
      
      properties:
      
        name:
          type: string
          description: The name of the service described
          minLength: 5

        description:
          type: string
          description: Description of the service
          minLength: 5

        url:
          type: string
          description: URL where the apis.json file will live
          pattern: "^(http)|(https)://(.*)$"

        image:
          type: string
          description: Image to represent the API

        created:
          type: string
          format: date
          description: Date when the file was created

        modified:
          type: string
          format: date
          description: Date when the file was modified

        specificationVersion:
          type: string
          description: APIs.json spec version, latest is 0.14

        apis:
          type: array
          items:
            "$ref": "#/components/schemas/API"
          description: All the APIs of this service

        maintainers:
          type: array
          items:
            "$ref": "#/components/schemas/Maintainer"
          description: Maintainers of the apis.json file

        tags:
          type: array
          items:
            "$ref": "#/components/schemas/Tag"
          description: Tags to describe the service

        include:
          type: array
          items:
            "$ref": "#/components/schemas/Include"
          description: Links to other apis.json definitions included in this service.

    API:
      description: The description of the API
      required:
        - name
        - description
        - image
        - baseURL
        - humanURL
        - properties
        - contact
      properties:
        name:
          type: string
          description: name
          minLength: 5
        description:
          type: string
          description: description of the API
          minLength: 5
        image:
          type: string
          description: URL of an image representing the API
        baseURL:
          type: string
          pattern: "^(http)|(https)://(.*)$"
          description: baseURL
        humanURL:
          type: string
          pattern: "^(http)|(https)://(.*)$"
          description: humanURL
        tags:
          type: array
          items:
            type: string
            minLength: 1
          description: tags to describe the API
        properties:
          type: array
          items:
            "$ref": "#/components/schemas/Property"
          description: URLs
        contact:
          type: array
          items:
            "$ref": "#/components/schemas/Contact"
          description: Contact to reach if questions about API
        meta:
          type: array
          items:
            "$ref": "#/components/schemas/metaInformation"

    Maintainer:
      description: The person or organization responsible for maintaining the API.
      required:
      - name
      properties:
        name:
          type: string
          description: name
          minLength: 5
      additionalProperties:
        type: string

    metaInformation:
      description: Metadata about the API
      required:
      - key
      - value
      properties:
        key:
          type: string
        value:
          type: string

    Contact:
      description: Information on contacting the API support
      required:
        - FN
      properties:
        FN:
          type: string
          minLength: 1
        email:
          type: string
          format: email
        organizationName:
          type: string
          minLength: 1
        adr:
          type: string
        tel:
          type: string
          minLength: 1
        X-github:
          type: string
        photo:
          type: string
          pattern: "^(http)|(https)://(.*)$"
        vCard:
          type: string
          pattern: "^(http)|(https)://(.*)$"
        url:
          type: string
          pattern: "^(http)|(https)://(.*)$"

    Property:
      description: A representation of a URL
      required:
      - type
      - url
      properties:
        type:
          type: string
          pattern: "^(Swagger)$|^(RAML)$|^(Blueprint)$|^(WADL)$|^(WSDL)$|^(TermsOfService)$|^(InterfaceLicense)$|^(StatusPage)$|^(Pricing)$|^(Forums)$|^(AlertsTwitterHandle)$|^(X-[A-Za-z0-9\\-]*)$"
        url:
          type: string
          pattern: "^(http)|(https)://(.*)$"

    Tag:
      description: A consistent set of tag to apply to a description

    Results:
      description: The results of a process.
      required:
        - results
      properties:
        results:
          type: string        
